<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content *ngIf="order">
      <ion-card-title margin-left="25px">
        Order
      </ion-card-title>
      <ion-list>
        <div ion-item *ngFor="let item of order">
          <ion-grid>
            <ion-row>
              <ion-col col-2>
                {{item.amount}}
              </ion-col>
              <ion-col col-5 text-wrap>
                {{item.name}}
              </ion-col>
              <ion-col col-5>
                $ {{(item.price * item.amount).toFixed(2)}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div ion-item *ngIf="isDelivery">
          <ion-grid>
            <ion-row>
              <ion-col col-7 text-wrap>
                Delivery Fee
              </ion-col>
              <ion-col col-5>
                $ 2.00
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-7 text-wrap>
                HST
              </ion-col>
              <ion-col col-5>
                $ {{hst.toFixed(2)}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-7 text-wrap>
                Processing Fee
              </ion-col>
              <ion-col col-5>
                $ {{stripeFee.toFixed(2)}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-7>
                Total Price
              </ion-col>
              <ion-col col-5>
                $ {{displayprice}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-list>
      <button ion-button margin-left="25px" margin-top="10px" (tap)="pay()">Checkout</button>
    </ion-card-content>
  </ion-card>
  <div [hidden]="order || errMess">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</ion-content>
