<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!searchOpen">Menu</ion-title>
    <ion-searchbar [(ngModel)]="searchBar" *ngIf="searchOpen" showCancelButton="true" (ionCancel)="searchOpen=false" (ionInput)="onInput($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!searchOpen" (click)="searchOpen=true">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="!searchOpen" (click)="moveToCheckout()">
        <ion-icon name="card"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item (click)="itemSelected($event, item)">
        <ion-grid>
          <ion-row>
            <ion-col text-wrap col-4>
              {{item.name}}
            </ion-col>
            <ion-col col-5>
              <button class="menu-item-button" ion-button small clear=true [disabled]="item.amount <= 0" (click)="removeFromOrder($event, item)">
                <ion-icon class="menu-item-icon" name="remove-circle"></ion-icon>
              </button>
                {{item.amount}}
              <button class="menu-item-button" ion-button small clear=true (click)="addToOrder($event, item)">
                <ion-icon class="menu-item-icon" name="add-circle"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-3>
              {{item.price}} $
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button *ngIf="!item.saved" ion-button (tap)="saveItem($event, item)">
          <ion-icon name="heart-outline"></ion-icon>
          Save
        </button>
        <button *ngIf="item.saved" ion-button (tap)="unSaveItem($event, item)">
          <ion-icon name="heart"></ion-icon>
          Save
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div text-center [hidden]="items || errMess">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</ion-content>
