<ion-header>

  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="item">
    <ion-card-content>
      <ion-card-title>
        {{item.name}}
      </ion-card-title>
      <p>
        {{item.description}}
      </p>
      <p margin-top="20px">
        Price: $ {{item.price}}
      </p>
      <p margin-top="20px" margin-bottom="20px">
        Order: {{item.amount}}
      </p>
      <button ion-button (tap)="addToOrder()">Add to Order</button>
      <button ion-button (tap)="removeFromOrder()" [disabled]="item.amount <= 0" color="danger">Remove from Order</button>
    </ion-card-content>
  </ion-card>
</ion-content>
